body{
	background-color:#b1d3e2;
	
}
.main {
	text-align:center;
}
.inLine {
	display:inline;
}
#episodeTitle{
	font-size:25px;
	
}
#wrongOrRight{
	font-Size:17px;
}

.list {
	font-size: 19px;
	
}